<div class="mt-5">
    <app-loading *ngIf="loading"></app-loading>
    <div class="container">
        <div *ngIf="!hayDato && !loading" class="alert alert-danger text-center animated fadeIn" role="alert">
            No se encontro el Registro
        </div>
    </div>
    <div class="m-5 p-2 text-center tarjeta" *ngIf="!loading">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/imagenes/{{this.instrumento.imagen}}" class="card-img">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <small class="card-text">{{this.instrumento.cantidadVendida}} vendidos</small>
                    <h2 class="card-title">{{this.instrumento.instrumento}}</h2>
                    <p class="card-text">$ {{this.instrumento.precio}}</p>
                    <p class="card-text">Marca: {{this.instrumento.marca}}</p>
                    <p class="card-text">Modelo: {{this.instrumento.modelo}}</p>
                    <p class="card-text">Costo de Envio:<br>
                        <small *ngIf="this.instrumento.costoEnvio.length > 1"
                            class="card-text envioPago">${{this.instrumento.costoEnvio}}</small>
                        <small *ngIf="this.instrumento.costoEnvio.length <= 1" class="card-text envioGratis"><img
                                src="assets/imagenes/camion.png" alt="Envio Gratis">Gratis a todo el pais</small>
                    </p>
                </div>
            </div>
            <div class="container m-1">
                <p>Descripcion:<br>{{this.instrumento.descripcion}}</p>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/productos']">Volver</button>
            </div>
        </div>
    </div>
</div>